{% extends 'main/base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="login-form mb-15" >
<form method="POST"  class="mx-4 mt-4 ">
    {{ form.hidden_tag()}}
<fieldset >
    <legend>Signup for an  Account</legend>
    <div class="form-group col-4">
        {{form.username.label(class= "form-control-label")}}
        {{form.username(class='form-control',placeholder='username')}} <br>
        {{form.email.label(class= "form-control-label")}}
        {{form.email(class='form-control',placeholder='email')}} <br>
        {{form.password.label(class= "form-control-label")}}
        {{form.password(class='form-control',placeholder='password')}} <br>
        {{form.password_confirm(class='form-control',placeholder='confirm password')}} <br>

        {{ form.submit(class='form-control btn-success')}}

    </div>
</fieldset>
</form>
</div>


{% endblock %}